.contact-us-section,.contact-us-container,.contact-us-div,.contact-us-form-container,.contact-us-form,.contact-us-button-div{
    display: flex;
}

.contact-us-container,.contact-us-div,.contact-us-button-div{
    flex-direction:row ;
}

.contact-us-section,.contact-us-div,.contact-us-form-container,.contact-us-form{
    flex-direction: column;
}

.contact-us-section,.contact-us-container,.contact-us-div{
    align-items: center;
}

.contact-us-section .line{
    width: 100%;
    height: .1rem;
    background: linear-gradient(rgb(0, 172, 152),rgb(0, 187, 159));
    box-shadow: .2px .2px 2px .2px rgb(0, 172, 152);
}

.contact-us-section h3{
    color: rgba(3, 99, 88, 0.733)
}

.contact-us-container{
    margin-top: 80px;
    justify-content: space-around;
    align-content: center;
}

.contact-us-div{
    padding: 2px 2px 2px 2px;
    width: 25%;
    height: 30vh;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 40px;
    box-shadow: .2px .2px 2px .2px green;
    border: 1px solid rgb(0, 209, 192);
}

.contact-us-div button{
    padding: 4px 12px 3px 12px;
    font-size: .8rem;
}

.contact-us-div p{
    text-align: center;
}

.contact-us-form-container{
    width: 45%;
    height: 40vh;
    box-shadow: .2px .2px 12px .2px lightgray;
    margin-top: 50px;
}
/* 
.contact-us-section{

} */

.contact-us-form-container{
    justify-content: center;
    padding: 22px 12px 22px 12px;
    height: 44vh;
}

.contact-us-form{
    gap:20px;
}

.contact-us-form input{
    box-shadow: .2px .2px 12px .2px lightgray;
    border: none;
    padding: 8px 2px 8px 12px;
    width: 92.5%;
    margin-left: 20px;

}

.contact-us-form textarea{
    box-shadow: .2px .2px 12px .2px lightgray;
    outline: none;
    border: none;
    width: 94%;
    height: 15vh;
    padding: 2px 2px 2px 2px;
    margin-left: 20px;
}

.contact-us-form textarea::placeholder{
    padding: 4px 2px 2px 12px;
}

.contact-us-form-container button{
    width: 12%;
    font-size: .88rem;
    padding: 3px 2px 3px 2px;
}

.contact-us-button-div{
    justify-content: center;
}

 button{
    color: white;
    border: none;
    box-shadow: .2px .2px 5px .2px rgb(0, 209, 192);
    background: linear-gradient(to left,rgb(0, 160, 147),rgb(0, 156, 127));
}
