.footer-section{
    width: 100%;
    box-shadow: .2px .2px 22px .2px lightgray;
    padding-bottom: 10px;
    padding-top: 1px;
}

.footer-links-container a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
    padding:2px 12px 6px 12px ;
    font-size:.9rem;
}

.footer-links-container a:hover{
    transition: .2s;
    text-decoration: none;
    color:black;
    background: rgba(0, 0, 0, 0.142);
    margin-left: 20px;
    border: 2px solid black;
    padding:2px 12px 6px 12px ;
    box-shadow: .2px .2px 12px .2px lightgray;

}